h1 {
  color: black;
  text-align: center;
}

h2, p {
  text-align: center;
}

img {
  margin: 40px 40px;
  width: 210px;
  height: 240px;
}
.container {
  width: 100%;
}
.box1 {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.city {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 240px;
  margin: 40px 40px;

}

.name_text {
  position: absolute;
  font-size: 20px;
  top: 120px;
  left: 100px;
  color: white;
}

.guide {
  display: block;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  width: 160px;
  height: 20px;
}


.destinations {
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  width: 160px;
  height: 20px;
}
